{% extends "./layouts/default-layout.njk" %}

{% block head_styles %}
  <link rel="stylesheet" href="styles/pages/vote.css" />
{% endblock %}

{% block header_left %}
  <a href="/">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </a>
{% endblock %}

{% block header_center %}
  <h2>{{ vote.title }}</h2>
{% endblock %}

{% block content %}
  <h3>{{ '您已投票' if disabled else '请投票' }}</h3>
  <ul class="options-list {{ 'disabled' if disabled }}">
    {% for option in vote.options %}
      <li style="--percentage: {{ option.voters.length / votersCount * 100 }}%">
        <a {% if not disabled %}onclick="onOptionClick('{{ option.title }}')"{% endif %}>
          <h4>{{ option.title }}</h4>
          <p>{{ option.voters.length }}人投票</p>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="desc">
    <p>1. 每人最少投一票，最多投两票。</p>
    <p>2. 请不要清除浏览器Cookie，会导致投票记录重复。</p>
  </div>
{% endblock %}

{% block body_bottom_scripts %}
  <script>
    const vote = {{ vote | dump | safe }};
    async function onOptionClick(title) {
      const option = vote.options.find(option => option.title === title);
      const response = await fetch(`vote/${ vote.id }/option/${ option.title }`, { method: 'put' });
      const data = await response.json();
      window.location.reload();
    }
  </script>
{% endblock %}
