{% extends "./base-layout.njk" %}

{% block head_bottom %}
  <meta name="theme-color" content="#3F51B5" />
  <link rel="stylesheet" href="styles/layouts/default-layout.css" />
  {% block head_styles %}{% endblock %}
{% endblock %}

{% block body_top %}
  <header id="header">
    <section class="header__left">
      {% block header_left %}{% endblock %}
    </section>
    <section class="header__center">
      {% block header_center %}
        <h2>投票</h2>
      {% endblock %}
    </section>
    <section class="header__right">
      {% block header_right %}{% endblock %}
    </section>
  </header>
{% endblock %}

{% block body_content %}
  <main id="content">
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block body_bottom %}
  {% block body_bottom_scripts %}{% endblock %}
{% endblock %}
